body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

.swim-lanes {
  min-height: 60vh;
}

.task-card {
  margin: 0 auto;
}

.task-card:hover {
  cursor: grab;
}

.form-label {
  margin: 5px;
}

.modal-content {
  margin: 0;
  padding: 30px;
}

.add-task {
  padding: 30px;
  text-align: center;
}

#taskDescription {
  height: 100px;
}